body {
  background-image: url("https://img.freepik.com/vector-gratis/hipster-ropa-moda-doodle-patron_1284-6445.jpg?w=2000");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 100px;
}

.form-signin {
  max-width: 400px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: rgba(4, 8, 63, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-signin .form-control {
  height: 50px;
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.form-signin h1,
.form-signin h4 {
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}

img {
  display: block;
  margin: 50px auto; 
  max-width: 100%; 
}

.form-signin button {
  margin-top: 30px;
  height: 50px;
  font-size: 18px;
  border-radius: 8px;
  background-color: #002769;
  color: #fff;
  border: none;
}

.form-signin .color-picker {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.form-signin .color-picker label {
  margin-right: 10px;
  font-weight: bold;
  color: #fff;
}

.form-signin p {
  margin-top: 20px;
  font-size: 14px;
  color: #fff;
}
